.ant-steps-item-icon {
    background: #f5f5f5 !important;
    color: black !important;
    border-color: #333 !important;
}

.ant-steps-icon {
    color: #fff;
}
.inputs-padding{
    padding: 8px 12px;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #0D132D !important;
    border-color: #0D132D !important;
    color: #fff !important;
}


:where(.css-dev-only-do-not-override-7t2xvq).ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon{
    color: #fff !important;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: #0D132D !important;
    border-color: #0D132D !important;
}

.ant-steps-item-finish .ant-steps-item-tail::after {
    width: 1px;
    height: 20px !important;
    background-color: #0D132D !important;
}